<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Contrato de Suministro ID: {{vm.contratoSuministro.id}} <span class="pull-right"><i class="fa fa-calendar-check-o"></i> {{vm.contratoSuministro.fechaCreacionCS | date:'dd-MM-yyyy HH:mm'}}</span></h2>
        <ol class="breadcrumb">

            <li>
                {{vm.contratoSuministro.tituloCS}}
            </li>

            <li>
                Responsable : {{vm.contratoSuministro.creadoPor}}

            </li>
            <li class="active">

                <strong>{{vm.contratoSuministro.estadoCS}}</strong>
            </li>
            <li>
                <i class="fa fa-usd"></i> <strong>{{vm.contratoSuministro.valorCS}}</strong>
            </li>

        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content">
    <button has-authority="ROLE_ADMIN" type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span>Volver</span>
    </button>

    <button has-authority="ROLE_ADMIN" type="button" ui-sref="contrato-suministro-detail.edit({id:vm.contratoSuministro.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Editar</span>
    </button>
    <span has-authority="ROLE_ADMIN" class="pull-right"><button class="btn btn-sm btn-primary">+ Nuevo Proceso</button></span>
    <div class="row animated fadeInRight">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content" id="ibox-content">

                    <div id="vertical-timeline" class="vertical-container dark-timeline left-orientation">

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-bullhorn"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>Solicitud de Trabajo</h2>
                                <p>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the sale.
                                </p>
                                <a href="#" class="btn btn-sm btn-primary"> More info</a>
                                    <span class="vertical-date">
                                        Today <br/>
                                        <small>Dec 24</small>
                                    </span>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon blue-bg">
                                <i class="fa fa-magic"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>Confirmacion de Presupuesto</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                                <a href="#" class="btn btn-sm btn-success"> Download document </a>
                                    <span class="vertical-date">
                                        Today <br/>
                                        <small>Dec 24</small>
                                    </span>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon lazur-bg">
                                <i class="fa fa-ticket"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>Orden de Trabajo</h2>
                                <p>Go to shop and find some products. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. </p>
                                <a href="#" class="btn btn-sm btn-info">Read more</a>
                                <span class="vertical-date"> Yesterday <br/><small>Dec 23</small></span>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon yellow-bg">
                                <i class="fa fa-thumbs-o-up"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>Aceptacion Contratista</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                                <span class="vertical-date">Yesterday <br/><small>Dec 23</small></span>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon lazur-bg">
                                <i class="fa fa-briefcase"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>Recepcion del Trabajo</h2>
                                <p>Find some issue and go to doctor. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
                                <span class="vertical-date">Yesterday <br/><small>Dec 23</small></span>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-dollar"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>Pago</h2>
                                <p>Web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). </p>
                                <span class="vertical-date">Yesterday <br/><small>Dec 23</small></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<script>
    // Local script for demo purpose only
    $(document).ready(function(){
        $('#lightVersion').click(function(event) {
            event.preventDefault()
            $('#ibox-content').removeClass('ibox-content');
            $('#vertical-timeline').removeClass('dark-timeline');
            $('#vertical-timeline').addClass('light-timeline');
        });
        $('#darkVersion').click(function(event) {
            event.preventDefault()
            $('#ibox-content').addClass('ibox-content');
            $('#vertical-timeline').removeClass('light-timeline');
            $('#vertical-timeline').addClass('dark-timeline');
        });
        $('#leftVersion').click(function(event) {
            event.preventDefault()
            $('#vertical-timeline').toggleClass('center-orientation');
        });
    });
</script>


