
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myContratoSuministroLabel">Create or edit a Contrato Suministro</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.contratoSuministro.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.contratoSuministro.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fechaCreacionCS">Fecha Creacion CS</label>
                <div class="input-group">
                    <input id="field_fechaCreacionCS" type="text" class="form-control" name="fechaCreacionCS" datetime-picker="{{dateformat}}" ng-model="vm.contratoSuministro.fechaCreacionCS" is-open="vm.datePickerOpenStatus.fechaCreacionCS"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaCreacionCS')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_tituloCS">Titulo CS</label>
            <input type="text" class="form-control" name="tituloCS" id="field_tituloCS"
                    ng-model="vm.contratoSuministro.tituloCS"
                    required />
            <div ng-show="editForm.tituloCS.$invalid">
                <p class="help-block"
                    ng-show="editForm.tituloCS.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_valorCS">Valor CS</label>
            <input type="number" class="form-control" name="valorCS" id="field_valorCS"
                    ng-model="vm.contratoSuministro.valorCS"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_estadoCS">Estado CS</label>
            <input type="text" class="form-control" name="estadoCS" id="field_estadoCS"
                    ng-model="vm.contratoSuministro.estadoCS"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_tipologiaCS">Tipologia CS</label>
            <input type="text" class="form-control" name="tipologiaCS" id="field_tipologiaCS"
                    ng-model="vm.contratoSuministro.tipologiaCS"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_porcentajeAvanceCS">Porcentaje Avance CS</label>
            <input type="number" class="form-control" name="porcentajeAvanceCS" id="field_porcentajeAvanceCS"
                    ng-model="vm.contratoSuministro.porcentajeAvanceCS"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_creadoPor">Creado Por</label>
            <input type="text" class="form-control" name="creadoPor" id="field_creadoPor"
                    ng-model="vm.contratoSuministro.creadoPor"
                     />
        </div>

        <div class="form-group">
            <label for="field_jardin">Jardin</label>
            <select class="form-control" id="field_jardin" name="jardin" ng-model="vm.contratoSuministro.jardin" ng-options="jardin as jardin.codigoJardin for jardin in vm.jardins track by jardin.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
