<div>
    <h2>Contrato Suministros</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button has-authority="ROLE_CSA" class="btn btn-primary" ui-sref="contrato-suministro.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Contrato Suministro
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">

                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="estadoCS"><span>Estado CS</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fechaCreacionCS"><span>Fecha</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tituloCS"><span>Titulo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="valorCS"><span>Valor</span> <span class="glyphicon glyphicon-sort"></span></th>

                    <th jh-sort-by="tipologiaCS"><span>Tipologia</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="porcentajeAvanceCS"><span>%</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="creadoPor"><span>Creado Por</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="jardin.codigoJardin"><span>Jardin</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="contratoSuministro in vm.contratoSuministros track by contratoSuministro.id">

                    <td><a ui-sref="contrato-suministro-detail({id:contratoSuministro.id})">{{contratoSuministro.id}}</a></td>
                    <td>{{contratoSuministro.estadoCS}}</td>
                    <td>{{contratoSuministro.fechaCreacionCS | date:'medium'}}</td>
                    <td><a ui-sref="contrato-suministro-detail({id:contratoSuministro.id})">{{contratoSuministro.tituloCS}}</a></td>
                    <td>{{contratoSuministro.valorCS}}</td>

                    <td>{{contratoSuministro.tipologiaCS}}</td>
                    <td>{{contratoSuministro.porcentajeAvanceCS}}</td>
                    <td>{{contratoSuministro.creadoPor}}</td>
                    <td>
                        <a ui-sref="jardin-detail({id:contratoSuministro.jardin.id})">{{contratoSuministro.jardin.codigoJardin}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="contrato-suministro-detail({id:contratoSuministro.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button has-authority="ROLE_CSA" type="submit"
                                    ui-sref="contrato-suministro.edit({id:contratoSuministro.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button has-authority="ROLE_CSA" type="submit"
                                    ui-sref="contrato-suministro.delete({id:contratoSuministro.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
