
<div>
    <h2><span>DireccionRegional</span> {{vm.direccionRegional.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span>NombreDR</dt></dt>
        <dd>
            <span>{{vm.direccionRegional.nombreDR}}<span>
        </dd>
        <hr>
        <dt><span>UbicacionDR</dt></dt>
        <dd>
            <span>{{vm.direccionRegional.ubicacionDR}}<span>
        </dd>
        <hr>
        <dt><span>LatitudDR</dt></dt>
        <dd>
            <span>{{vm.direccionRegional.latitudDR}}<span>
        </dd>
        <hr>
        <dt><span>LongitudDR</dt></dt>
        <dd>
            <span>{{vm.direccionRegional.longitudDR}}<span>
        </dd>
        <hr>
        <dt><span>region</span></dt>
        <dd>
            <a ui-sref="region-detail({id:vm.direccionRegional.region.id})">{{vm.direccionRegional.region.nombreRegion}}</a>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
