<div class="wrapper wrapper-content">
    <h2>Direcciones Regionales <span class="pull-right"><button class="btn btn-primary btn-xs" ui-sref="direccion-regional.new" >
        <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Crear nueva DR.
                    </span>
    </button></span></h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Nombre</span></th>
                    <th><span>Ubicacion</span></th>
                    <th><span>Region</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="direccionRegional in vm.direccionRegionals track by direccionRegional.id">
                    <td><a ui-sref="direccion-regional-detail({id:direccionRegional.id})">{{direccionRegional.id}}</a></td>
                    <td>{{direccionRegional.nombreDR}}</td>
                    <td>{{direccionRegional.ubicacionDR}}</td>
                    <td>
                        <a ui-sref="region-detail({id:direccionRegional.region.id})">{{direccionRegional.region.nombreRegion}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="direccion-regional-detail({id:direccionRegional.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="direccion-regional.edit({id:direccionRegional.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="direccion-regional.delete({id:direccionRegional.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
