
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDireccionRegionalLabel">Create or edit a DireccionRegional</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.direccionRegional.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nombreDR">NombreDR</label>
            <input type="text" class="form-control" name="nombreDR" id="field_nombreDR"
                    ng-model="vm.direccionRegional.nombreDR"
                    required />
            <div ng-show="editForm.nombreDR.$invalid">
                <p class="help-block"
                    ng-show="editForm.nombreDR.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ubicacionDR">UbicacionDR</label>
            <input type="text" class="form-control" name="ubicacionDR" id="field_ubicacionDR"
                    ng-model="vm.direccionRegional.ubicacionDR"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_latitudDR">LatitudDR</label>
            <input type="number" class="form-control" name="latitudDR" id="field_latitudDR"
                    ng-model="vm.direccionRegional.latitudDR"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_longitudDR">LongitudDR</label>
            <input type="number" class="form-control" name="longitudDR" id="field_longitudDR"
                    ng-model="vm.direccionRegional.longitudDR"
                     />
        </div>

        <div class="form-group">
            <label for="field_region">region</label>
            <select class="form-control" id="field_region" name="region" ng-model="vm.direccionRegional.region" ng-options="region as region.nombreRegion for region in vm.regions | orderBy:'id' track by region.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
