<div class="wrapper wrapper-content animated fadeInRight">


    <div class="row m-b-lg m-t-lg">
        <div class="col-md-4">

            <div class="profile-image">
                <img src="/content/images/jardin.png" class="img-circle circle-border m-b-md" alt="profile">
            </div>
            <div class="profile-info">
                <div class="">
                    <div>
                        <h2 class="no-margins">
                            {{vm.jardin.codigoJardin}}
                        </h2>
                        <h4>{{vm.jardin.nombreJardin}}</h4>
                        <small class="label label-success">

                            {{vm.jardin.estadoJardin}}
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table small m-b-xs">
                <tbody>
                <tr>
                    <td>
                        <strong>Programa Jardin</strong> {{vm.jardin.programaJardin}}
                    </td>
                    <td>
                        <strong>Modalidad</strong> {{vm.jardin.modalidadJardin}}
                    </td>
                    <td>
                        <a ui-sref="direccion-regional-detail({id:vm.jardin.direccionRegional.id})">{{vm.jardin.direccionRegional.nombreDR}}</a>
                    </td>


                </tr>
                <tr>
                    <td>
                        <strong>Provincia</strong> {{vm.jardin.provinciaJardin}}
                    </td>
                    <td>
                        <strong>Comuna</strong> {{vm.jardin.comunaJardin}}
                    </td>
                    <td>
                        <strong>Ruralidad</strong> {{vm.jardin.ruralidadJardin}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Telefono</strong> <span ng-repeat="telefono in vm.jardin.telefonos">
                <a ui-sref="telefono-detail({id: telefono.id})">{{telefono.numeroTelefono}}</a>{{$last ? '' : ', '}}
            </span>
                    </td>
                    <td>
                        <strong>Dirección</strong> {{vm.jardin.direccionJardin}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Volver</span>
    </button>

    <button type="button" ui-sref="jardin-detail.edit({id:vm.jardin.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Editar</span>
    </button>
</div>


<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <uib-tabset>
                    <uib-tab heading="Grupos">
                        <div class="panel-body">

                            <div class="table-responsive">
                                <table class="jh-table table table-striped">
                                    <thead>
                                    <tr>
                                        <th><span>Grupo</span></th>
                                        <th><span>Nivel</span></th>
                                        <th><span>Capacidad</span></th>
                                        <th><span>Matricula</span></th>
                                        <th><span>Asistencia</span></th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="grupo in vm.jardin.grupos track by grupo.id">

                                        <td>{{grupo.nivelJardin.nombreNivel}}</td>
                                        <td>
                                            {{grupo.nombreGrupo}}
                                        </td>
                                        <td>{{grupo.capacidadGrupo}}</td>
                                        <td>{{grupo.matriculaGrupo}}</td>
                                        <td>{{grupo.asistenciaGrupo}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </uib-tab>
                    <uib-tab heading="Funcionarios">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="jh-table table table-striped">
                                    <thead>
                                    <tr>
                                        <th><span>Funcionario</span></th>
                                        <th><span>Correo</span></th>
                                        <th><span>Cargo</span></th>


                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="funcionario in vm.jardin.funcionarios track by funcionario.id">

                                        <td>{{funcionario.nombresFuncionario}} {{funcionario.apellidopFuncionario}}</td>
                                        <td>
                                            {{funcionario.correoFuncionario}}
                                        </td>
                                        <td>{{funcionario.cargoFuncionario}}</td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="Documentos Relacionados">
                        <div class="panel-body">
                            <strong>Donec quam felis</strong>

                            <p>Thousand unknown plants are noticed by me: when I hear the buzz of the little world among
                                the stalks, and grow familiar with the countless indescribable forms of the insects
                                and flies, then I feel the presence of the Almighty, who formed us in his own image, and
                                the breath </p>

                            <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss
                                of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite
                                sense of mere tranquil existence, that I neglect my talents. I should be incapable of
                                drawing a single stroke at the present moment; and yet.</p>
                        </div>
                    </uib-tab>
                </uib-tabset>

            </div>
        </div>


    </div>

</div>



