<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Jardines Infantiles <span has-authority="ROLE_ADMIN" class="pull-right"><button class="btn btn-primary btn-xs" ui-sref="jardin.new" >
            <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Nuevo Jardin
                    </span>
        </button></span></h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home">Inicio</a>
            </li>
            <li class="active">
                <strong>Jardines</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<jhi-alert></jhi-alert>

<br/>

<div class="wrapper wrapper-content">

    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Consolidado </h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6 m-b-xs">

                    </div>
                    <div class="col-sm-3 text-right">
                        <div class="input-group pull-right">
                            <select name="status" id="status" class="input-sm form-control" ng-model="seleccion">
                                <option value="codigoJardin">Codigo</option>
                                <option value="nombreJardin">Nombre</option>
                                <option value="programaJardin">Programa</option>
                                <option value="modalidadJardin">Modalidad</option>
                                <option value="comunaJardin">Comuna</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input type="text" ng-model="valor" placeholder="Buscar" class="input-sm form-control"> <span class="input-group-btn">
                            <button type="button" ng-click="buscarJardin(seleccion,valor)" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="jh-table table table-striped">
                        <thead>
                        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">

                            <th jh-sort-by="codigoJardin"><span>Codigo </span> <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="nombreJardin"><span>Nombre </span> <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="programaJardin"><span>Programa </span> <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="modalidadJardin"><span>Modalidad </span> <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="comunaJardin"><span>Comuna </span> <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="estadoJardin"><span>Estado </span> <span class="glyphicon glyphicon-sort"></span></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="jardin in vm.jardins track by jardin.id">
                            <td><a ui-sref="jardin-detail({id:jardin.id})">{{jardin.codigoJardin}}</a></td>
                            <td>{{jardin.nombreJardin}}</td>

                            <td>{{jardin.programaJardin}}</td>
                            <td>{{jardin.modalidadJardin}}</td>
                            <td>{{jardin.comunaJardin}}</td>
                            <td ng-if="jardin.estadoJardin === 'Activo'"><span class="label label-primary">{{jardin.estadoJardin}}</span></td>
                            <td ng-if="jardin.estadoJardin === 'Contingencia con Atencion'"><span class="label label-warning">{{jardin.estadoJardin}}</span></td>
                            <td ng-if="jardin.estadoJardin === 'Contingencia sin Atencion'"><span class="label label-warning">{{jardin.estadoJardin}}</span></td>
                            <td ng-if="jardin.estadoJardin === 'Preinauguracion'"><span class="label label-success">{{jardin.estadoJardin}}</span></td>
                            <td ng-if="jardin.estadoJardin === 'Cerrado'"><span class="label label-danger">Cerrado</span></td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button has-authority="ROLE_ADMIN" type="submit"
                                            ui-sref="jardin.edit({id:jardin.id})"
                                            class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        <span class="hidden-xs hidden-sm"></span>
                                    </button>
                                    <button has-authority="ROLE_ADMIN" type="submit"
                                            ui-sref="jardin.delete({id:jardin.id})"
                                            class="btn btn-danger btn-sm">
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                        <span class="hidden-xs hidden-sm"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
                    </div>
                    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
                </div>

            </div>
        </div>
    </div>

</div>

</div>

</div>
