
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myJardinLabel">Create or edit a Jardin</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.jardin.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.jardin.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_codigoJardin">Codigo Jardin</label>
            <input type="number" class="form-control" name="codigoJardin" id="field_codigoJardin"
                    ng-model="vm.jardin.codigoJardin"
                    required />
            <div ng-show="editForm.codigoJardin.$invalid">
                <p class="help-block"
                    ng-show="editForm.codigoJardin.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.codigoJardin.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nombreJardin">Nombre Jardin</label>
            <input type="text" class="form-control" name="nombreJardin" id="field_nombreJardin"
                    ng-model="vm.jardin.nombreJardin"
                    required />
            <div ng-show="editForm.nombreJardin.$invalid">
                <p class="help-block"
                    ng-show="editForm.nombreJardin.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_estadoJardin">Estado Jardin</label>
            <select  class="form-control" name="estadoJardin" id="field_estadoJardin"
                    ng-model="vm.jardin.estadoJardin"
                    required >
                <option value="Activo">Activo</option>
                <option value="Contingencia con Atencion">Contingencia con Atencion</option>
                <option value="Contingencia sin Atencion">Cotingencia sin Atencion</option>
                <option value="Preinauguracion">Preinauguracion</option>
                <option value="Cerrado">Cerrado</option>

            </select>
            <div ng-show="editForm.estadoJardin.$invalid">
                <p class="help-block"
                    ng-show="editForm.estadoJardin.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fechaCreacionJardin">Fecha Creacion Jardin</label>
                <div class="input-group">
                    <input id="field_fechaCreacionJardin" type="text" class="form-control" name="fechaCreacionJardin" uib-datepicker-popup="{{dateformat}}" ng-model="vm.jardin.fechaCreacionJardin" is-open="vm.datePickerOpenStatus.fechaCreacionJardin"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaCreacionJardin')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_programaJardin">Programa Jardin</label>
            <select class="form-control" name="programaJardin" id="field_programaJardin"
                    ng-model="vm.jardin.programaJardin"
                     >
                <option value="Jardin Infantil Clasico">Jardin Infantil Clasico</option>
                <option value="Alternativo de Atencion de Parvulo">Alternativo de Atencion de Parvulo</option>
                <option value="Educativo para la Familia">Educativo para la Familia</option>
                <option value="Transitorio">Transitorio</option>
                <option value="Convenio Alimentacion">Convenio Alimentacion</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_modalidadJardin">Modalidad Jardin</label>
            <input type="text" class="form-control" name="modalidadJardin" id="field_modalidadJardin"
                    ng-model="vm.jardin.modalidadJardin"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ruralidadJardin">Ruralidad Jardin</label>
            <input type="text" class="form-control" name="ruralidadJardin" id="field_ruralidadJardin"
                    ng-model="vm.jardin.ruralidadJardin"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_direccionJardin">Direccion Jardin</label>
            <input type="text" class="form-control" name="direccionJardin" id="field_direccionJardin"
                    ng-model="vm.jardin.direccionJardin"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_provinciaJardin">Provincia Jardin</label>
            <input type="text" class="form-control" name="provinciaJardin" id="field_provinciaJardin"
                    ng-model="vm.jardin.provinciaJardin"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_comunaJardin">Comuna Jardin</label>
            <input type="text" class="form-control" name="comunaJardin" id="field_comunaJardin"
                    ng-model="vm.jardin.comunaJardin"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_latitudJardin">Latitud Jardin</label>
            <input type="number" class="form-control" name="latitudJardin" id="field_latitudJardin"
                    ng-model="vm.jardin.latitudJardin"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_longitudJardin">Longitud Jardin</label>
            <input type="number" class="form-control" name="longitudJardin" id="field_longitudJardin"
                    ng-model="vm.jardin.longitudJardin"
                     />
        </div>

        <div class="form-group">
            <label for="field_direccionRegional">Direccion Regional</label>
            <select class="form-control" id="field_direccionRegional" name="direccionRegional" ng-model="vm.jardin.direccionRegional" ng-options="direccionRegional as direccionRegional.nombreDR for direccionRegional in vm.direccionregionals track by direccionRegional.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_telefono">Telefono</label>
            <select class="form-control" id="field_telefono" multiple name="telefono" ng-model="vm.jardin.telefonos" ng-options="telefono as telefono.numeroTelefono for telefono in vm.telefonos track by telefono.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancelar</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Guardar</span>
        </button>
    </div>
</form>
