<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Funcionarios <span has-authority="ROLE_ADMIN" class="pull-right"><button class="btn btn-primary btn-xs" ui-sref="funcionario.new" >
            <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Nuevo Funcionario
                    </span>
        </button></span></h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home">Inicio</a>
            </li>
            <li class="active">
                <strong>Funcionarios</strong>
            </li>
        </ol>
    </div>


    <div class="col-lg-6">
            <div class="input-group">&nbsp;</div>
            <div class="input-group">
                <input type="text" ng-model="valor" placeholder="Buscar por Nombre" class="input-sm form-control"> <span class="input-group-btn">
                <button type="button" ng-click="buscarJardin(valor)" class="btn btn-sm btn-primary"> Go!</button> </span>
            </div>
    </div>
</div>



    <jhi-alert></jhi-alert>

    <br/>
<!--
<div class="table-responsive">
    <table class="jh-table table table-striped">
        <thead>
        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
            <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="tituloNoticia"><span>Titulo Noticia</span> <span class="glyphicon glyphicon-sort"></span></th>

        </tr>
        </thead>
        <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
        <tr ng-repeat="funcionario in vm.funcionarios">
            <td>{{funcionario.id}}</td>
            <td>{{funcionario.nombresFuncionario}}</td>
        </tr>
        </tbody>
    </table>
</div>

-->


<div class="wrapper wrapper-content">
    <div class="row">

        <div class="table-responsive">
            <table class="jh-table table table-striped table-hover">
                <thead>
                    <th></th>
                    <th>Funcionario</th>
                    <th>Unidad</th>
                    <th></th>
                    <th>Correo</th>
                    <th></th>
                    <th>Nacimiento</th>
                    <th></th>
                    <th>F. Ingreso</th>

                </thead>
                <tbody>
                <tr ng-repeat="funcionario in vm.funcionarios track by funcionario.id">
                    <td class="client-avatar"><img ng-if="funcionario.imagenFuncionario !== null" alt="image" class="img-circle" data-ng-src="{{'data:' + funcionario.imagenFuncionarioContentType + ';base64,' + funcionario.imagenFuncionario}}" />
                        <img ng-if="funcionario.imagenFuncionario === null" alt="image" class="img-circle" src="/content/images/trabajador.jpg" /> </td>
                    <td><a ui-sref="funcionario-detail({id:funcionario.id})" class="client-link">{{funcionario.nombresFuncionario}} {{funcionario.apellidopFuncionario}}</a></td>
                    <td> {{funcionario.unidad.nombreUnidad}}</td>
                    <td class="contact-type"><i class="fa fa-envelope"> </i></td>
                    <td> {{funcionario.correoFuncionario}}</td>
                    <td class="contact-type"><i class="fa fa-birthday-cake"> </i></td>
                    <td class="client-status"><span class="label label-warning">{{funcionario.fechaNacimientoFuncionario | date:'dd-MM'}}</span></td>
                    <td class="contact-type"><i class="fa fa-calendar"> </i></td>
                    <td class="client-status"><span class="label label-primary">{{funcionario.fechaContratoFuncionario | date:'dd-MM-yyyy'}}</span></td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button has-authority="ROLE_ADMIN" type="submit"
                                    ui-sref="funcionario.edit({id:funcionario.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button has-authority="ROLE_ADMIN" type="submit"
                                    ui-sref="funcionario.delete({id:funcionario.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>


</div>




