<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Detalle Funcionario</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home">Inicio</a>
            </li>
            <li>
                <a ui-sref="funcionario">Funcionario</a>
            </li>
            <li class="active">
                <strong>Detalle Usuario</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<jhi-alert-error></jhi-alert-error>
<div class="wrapper wrapper-content animated fadeInRight">


    <div class="row m-b-lg m-t-lg">
        <div class="col-md-4">

            <div class="profile-image">
                <img ng-if="vm.funcionario.imagenFuncionario === null" src="/content/images/trabajador.jpg" class="img-circle circle-border m-b-md" alt="profile">
                <img class="img-circle circle-border m-b-md" alt="profile" ng-if="vm.funcionario.imagenFuncionario !== null" data-ng-src="{{'data:' + vm.funcionario.imagenFuncionarioContentType + ';base64,' + vm.funcionario.imagenFuncionario}}" style="max-width: 100%;"/>
            </div>
            <div class="profile-info">
                <div class="">
                    <div>
                        <h2 class="no-margins">
                            {{vm.funcionario.nombresFuncionario}}
                        </h2>
                        <h4>{{vm.funcionario.apellidopFuncionario}} {{vm.funcionario.apellidomFuncionario}}</h4>
                        <small>
                            <i class="fa fa-envelope" aria-hidden="true"> </i><a> {{vm.funcionario.correoFuncionario}}</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <table class="table small m-b-xs">
                <tbody>
                <tr>
                    <td>
                        <strong> <i class="fa fa-birthday-cake" aria-hidden="true"> </i></strong> {{vm.funcionario.fechaNacimientoFuncionario | date:'dd-MM'}}
                    </td>
                    <td>
                        <strong><i class="fa fa-calendar" aria-hidden="true"> </i></strong> {{vm.funcionario.fechaContratoFuncionario | date:'dd-MM-yyyy'}}
                    </td>

                </tr>
                <tr>
                    <td>
                        <strong><i class="fa fa-group" aria-hidden="true"> </i></strong> {{vm.funcionario.unidad.subdireccion.nombreSubdireccion}}
                    </td>
                    <td>
                        <strong><i class="fa fa-phone" aria-hidden="true"> </i></strong> <span ng-repeat="telefono in vm.funcionario.telefonos">
                {{telefono.numeroTelefono}}{{$last ? '' : ', '}}
            </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><i class="fa fa-male" aria-hidden="true"> </i></strong> Unidad {{vm.funcionario.unidad.nombreUnidad}}
                    </td>
                    <td>
                        <strong>Estado</strong> {{vm.funcionario.estadoFuncionario}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">

        </div>


    </div>
</div>




<div>








    <button has-authority="ROLE_ADMIN" type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Volver</span>
    </button>

    <button has-authority="ROLE_ADMIN" type="button" ui-sref="funcionario-detail.edit({id:vm.funcionario.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Editar</span>
    </button>
</div>
