
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFuncionarioLabel">Create or edit a Funcionario</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.funcionario.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.funcionario.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_rutFuncionario">Rut Funcionario</label>
            <input type="text" class="form-control" name="rutFuncionario" id="field_rutFuncionario"
                    ng-model="vm.funcionario.rutFuncionario"
                    required ng-minlength="9" />
            <div ng-show="editForm.rutFuncionario.$invalid">
                <p class="help-block"
                    ng-show="editForm.rutFuncionario.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.rutFuncionario.$error.minlength" translate-value-min="9">
                    This field is required to be at least 9 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nombresFuncionario">Nombres Funcionario</label>
            <input type="text" class="form-control" name="nombresFuncionario" id="field_nombresFuncionario"
                    ng-model="vm.funcionario.nombresFuncionario"
                    required />
            <div ng-show="editForm.nombresFuncionario.$invalid">
                <p class="help-block"
                    ng-show="editForm.nombresFuncionario.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_apellidopFuncionario">Apellidop Funcionario</label>
            <input type="text" class="form-control" name="apellidopFuncionario" id="field_apellidopFuncionario"
                    ng-model="vm.funcionario.apellidopFuncionario"
                    required />
            <div ng-show="editForm.apellidopFuncionario.$invalid">
                <p class="help-block"
                    ng-show="editForm.apellidopFuncionario.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_apellidomFuncionario">Apellidom Funcionario</label>
            <input type="text" class="form-control" name="apellidomFuncionario" id="field_apellidomFuncionario"
                    ng-model="vm.funcionario.apellidomFuncionario"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_correoFuncionario">Correo Funcionario</label>
            <input type="text" class="form-control" name="correoFuncionario" id="field_correoFuncionario"
                    ng-model="vm.funcionario.correoFuncionario"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fechaContratoFuncionario">Fecha Contrato Funcionario</label>
                <div class="input-group">
                    <input id="field_fechaContratoFuncionario" type="text" class="form-control" name="fechaContratoFuncionario" uib-datepicker-popup="{{dateformat}}" ng-model="vm.funcionario.fechaContratoFuncionario" is-open="vm.datePickerOpenStatus.fechaContratoFuncionario"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaContratoFuncionario')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fechaNacimientoFuncionario">Fecha Nacimiento Funcionario</label>
                <div class="input-group">
                    <input id="field_fechaNacimientoFuncionario" type="text" class="form-control" name="fechaNacimientoFuncionario" uib-datepicker-popup="{{dateformat}}" ng-model="vm.funcionario.fechaNacimientoFuncionario" is-open="vm.datePickerOpenStatus.fechaNacimientoFuncionario"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaNacimientoFuncionario')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setImagenFuncionario($file, vm.funcionario)" ngf-pattern="'image/*'">
            <label class="control-label" for="field_imagenFuncionario">Imagen Funcionario</label>
            <div>
                <img data-ng-src="{{'data:' + vm.funcionario.imagenFuncionarioContentType + ';base64,' + vm.funcionario.imagenFuncionario}}" style="max-height: 100px;" ng-if="vm.funcionario.imagenFuncionario"/>
                <div ng-if="vm.funcionario.imagenFuncionario" class="help-block clearfix">
                    <span class="pull-left">{{vm.funcionario.imagenFuncionarioContentType}}, {{vm.byteSize(vm.funcionario.imagenFuncionario)}}</span>
                    <button ng-click="vm.funcionario.imagenFuncionario=null;vm.funcionario.imagenFuncionarioContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setImagenFuncionario($file, vm.funcionario)" accept="image/*">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="imagenFuncionario" id="field_imagenFuncionario"
                    ng-model="vm.funcionario.imagenFuncionario"
                     />
            <input type="hidden" class="form-control" name="imagenFuncionarioContentType" id="field_imagenFuncionarioContentType"
                    ng-model="vm.funcionario.imagenFuncionarioContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_cargoFuncionario">Cargo Funcionario</label>
            <input type="text" class="form-control" name="cargoFuncionario" id="field_cargoFuncionario"
                    ng-model="vm.funcionario.cargoFuncionario"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_estamentoFuncionario">Estamento Funcionario</label>
            <input type="text" class="form-control" name="estamentoFuncionario" id="field_estamentoFuncionario"
                    ng-model="vm.funcionario.estamentoFuncionario"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_calidadJuridicaFuncionario">Calidad Juridica Funcionario</label>
            <input type="text" class="form-control" name="calidadJuridicaFuncionario" id="field_calidadJuridicaFuncionario"
                    ng-model="vm.funcionario.calidadJuridicaFuncionario"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_direccionFuncionario">Direccion Funcionario</label>
            <input type="text" class="form-control" name="direccionFuncionario" id="field_direccionFuncionario"
                    ng-model="vm.funcionario.direccionFuncionario"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_codigoFuncionario">Codigo Funcionario</label>
            <input type="text" class="form-control" name="codigoFuncionario" id="field_codigoFuncionario"
                    ng-model="vm.funcionario.codigoFuncionario"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_gradoFuncionario">Grado Funcionario</label>
            <input type="number" class="form-control" name="gradoFuncionario" id="field_gradoFuncionario"
                    ng-model="vm.funcionario.gradoFuncionario"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_estadoFuncionario">Estado Funcionario</label>
            <input type="text" class="form-control" name="estadoFuncionario" id="field_estadoFuncionario"
                    ng-model="vm.funcionario.estadoFuncionario"
                     />
        </div>

        <div class="form-group">
            <label for="field_unidad">Unidad</label>
            <select class="form-control" id="field_unidad" name="unidad" ng-model="vm.funcionario.unidad" ng-options="unidad as unidad.nombreUnidad for unidad in vm.unidads track by unidad.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_telefono">Telefono</label>
            <select class="form-control" id="field_telefono" multiple name="telefono" ng-model="vm.funcionario.telefonos" ng-options="telefono as telefono.numeroTelefono for telefono in vm.telefonos track by telefono.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancelar</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Guardar</span>
        </button>
    </div>
</form>
