
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProcesoCSLabel">Create or edit a Proceso CS</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.procesoCS.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.procesoCS.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fechaProcesoCS">Fecha Proceso CS</label>
                <div class="input-group">
                    <input id="field_fechaProcesoCS" type="text" class="form-control" name="fechaProcesoCS" datetime-picker="{{dateformat}}" ng-model="vm.procesoCS.fechaProcesoCS" is-open="vm.datePickerOpenStatus.fechaProcesoCS"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaProcesoCS')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_tipoProcesoCS">Tipo Proceso CS</label>
            <input type="text" class="form-control" name="tipoProcesoCS" id="field_tipoProcesoCS"
                    ng-model="vm.procesoCS.tipoProcesoCS"
                    required />
            <div ng-show="editForm.tipoProcesoCS.$invalid">
                <p class="help-block"
                    ng-show="editForm.tipoProcesoCS.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_estadoProcesoCS">Estado Proceso CS</label>
            <input type="text" class="form-control" name="estadoProcesoCS" id="field_estadoProcesoCS"
                    ng-model="vm.procesoCS.estadoProcesoCS"
                     />
        </div>

        <div class="form-group">
            <label for="field_contratoSuministro">Contrato Suministro</label>
            <select class="form-control" id="field_contratoSuministro" name="contratoSuministro" ng-model="vm.procesoCS.contratoSuministro" ng-options="contratoSuministro as contratoSuministro.id for contratoSuministro in vm.contratosuministros track by contratoSuministro.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_funcionario">Funcionario</label>
            <select class="form-control" id="field_funcionario" name="funcionario" ng-model="vm.procesoCS.funcionario" ng-options="funcionario as funcionario.nombresFuncionario for funcionario in vm.funcionarios track by funcionario.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
