<div>
    <h2>Proceso CS</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="proceso-cs.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Proceso CS
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Fecha Proceso CS</span></th>
                    <th><span>Tipo Proceso CS</span></th>
                    <th><span>Estado Proceso CS</span></th>
                    <th><span>Contrato Suministro</span></th>
                    <th><span>Funcionario</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="procesoCS in vm.procesoCS track by procesoCS.id">
                    <td><a ui-sref="proceso-cs-detail({id:procesoCS.id})">{{procesoCS.id}}</a></td>
                    <td>{{procesoCS.fechaProcesoCS | date:'medium'}}</td>
                    <td>{{procesoCS.tipoProcesoCS}}</td>
                    <td>{{procesoCS.estadoProcesoCS}}</td>
                    <td>
                        <a ui-sref="contrato-suministro-detail({id:procesoCS.contratoSuministro.id})">{{procesoCS.contratoSuministro.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="funcionario-detail({id:procesoCS.funcionario.id})">{{procesoCS.funcionario.nombresFuncionario}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="proceso-cs-detail({id:procesoCS.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="proceso-cs.edit({id:procesoCS.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="proceso-cs.delete({id:procesoCS.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
