
<div>
    <h2><span>Proceso CS</span> {{vm.procesoCS.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Fecha Proceso CS</span></dt>
        <dd>
            <span>{{vm.procesoCS.fechaProcesoCS | date:'medium'}}</span>
        </dd>
        <dt><span>Tipo Proceso CS</span></dt>
        <dd>
            <span>{{vm.procesoCS.tipoProcesoCS}}</span>
        </dd>
        <dt><span>Estado Proceso CS</span></dt>
        <dd>
            <span>{{vm.procesoCS.estadoProcesoCS}}</span>
        </dd>
        <dt><span>Contrato Suministro</span></dt>
        <dd>
            <a ui-sref="contrato-suministro-detail({id:vm.procesoCS.contratoSuministro.id})">{{vm.procesoCS.contratoSuministro.id}}</a>
        </dd>
        <dt><span>Funcionario</span></dt>
        <dd>
            <a ui-sref="funcionario-detail({id:vm.procesoCS.funcionario.id})">{{vm.procesoCS.funcionario.nombresFuncionario}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="proceso-cs-detail.edit({id:vm.procesoCS.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
