
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myGrupoLabel">Create or edit a Grupo</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.grupo.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.grupo.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nombreGrupo">Nombre Grupo</label>
            <input type="text" class="form-control" name="nombreGrupo" id="field_nombreGrupo"
                    ng-model="vm.grupo.nombreGrupo"
                    required />
            <div ng-show="editForm.nombreGrupo.$invalid">
                <p class="help-block"
                    ng-show="editForm.nombreGrupo.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_capacidadGrupo">Capacidad Grupo</label>
            <input type="number" class="form-control" name="capacidadGrupo" id="field_capacidadGrupo"
                    ng-model="vm.grupo.capacidadGrupo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_matriculaGrupo">Matricula Grupo</label>
            <input type="number" class="form-control" name="matriculaGrupo" id="field_matriculaGrupo"
                    ng-model="vm.grupo.matriculaGrupo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_asistenciaGrupo">Asistencia Grupo</label>
            <input type="number" class="form-control" name="asistenciaGrupo" id="field_asistenciaGrupo"
                    ng-model="vm.grupo.asistenciaGrupo"
                     />
        </div>

        <div class="form-group">
            <label for="field_jardin">Jardin</label>
            <select class="form-control" id="field_jardin" name="jardin" ng-model="vm.grupo.jardin" ng-options="jardin as jardin.codigoJardin for jardin in vm.jardins track by jardin.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_nivelJardin">Nivel Jardin</label>
            <select class="form-control" id="field_nivelJardin" name="nivelJardin" ng-model="vm.grupo.nivelJardin" ng-options="nivelJardin as nivelJardin.id for nivelJardin in vm.niveljardins track by nivelJardin.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
