
<div>
    <h2><span>Grupo</span> {{vm.grupo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Nombre Grupo</span></dt>
        <dd>
            <span>{{vm.grupo.nombreGrupo}}</span>
        </dd>
        <dt><span>Capacidad Grupo</span></dt>
        <dd>
            <span>{{vm.grupo.capacidadGrupo}}</span>
        </dd>
        <dt><span>Matricula Grupo</span></dt>
        <dd>
            <span>{{vm.grupo.matriculaGrupo}}</span>
        </dd>
        <dt><span>Asistencia Grupo</span></dt>
        <dd>
            <span>{{vm.grupo.asistenciaGrupo}}</span>
        </dd>
        <dt><span>Jardin</span></dt>
        <dd>
            <a ui-sref="jardin-detail({id:vm.grupo.jardin.id})">{{vm.grupo.jardin.codigoJardin}}</a>
        </dd>
        <dt><span>Nivel Jardin</span></dt>
        <dd>
            <a ui-sref="nivel-jardin-detail({id:vm.grupo.nivelJardin.id})">{{vm.grupo.nivelJardin.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="grupo-detail.edit({id:vm.grupo.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
