<div>
    <h2>Grupos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="grupo.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Grupo
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Nombre Grupo</span></th>
                    <th><span>Capacidad Grupo</span></th>
                    <th><span>Matricula Grupo</span></th>
                    <th><span>Asistencia Grupo</span></th>
                    <th><span>Jardin</span></th>
                    <th><span>Nivel Jardin</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="grupo in vm.grupos track by grupo.id">
                    <td><a ui-sref="grupo-detail({id:grupo.id})">{{grupo.id}}</a></td>
                    <td>{{grupo.nombreGrupo}}</td>
                    <td>{{grupo.capacidadGrupo}}</td>
                    <td>{{grupo.matriculaGrupo}}</td>
                    <td>{{grupo.asistenciaGrupo}}</td>
                    <td>
                        <a ui-sref="jardin-detail({id:grupo.jardin.id})">{{grupo.jardin.codigoJardin}}</a>
                    </td>
                    <td>
                        <a ui-sref="nivel-jardin-detail({id:grupo.nivelJardin.id})">{{grupo.nivelJardin.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="grupo-detail({id:grupo.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="grupo.edit({id:grupo.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="grupo.delete({id:grupo.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
