
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myNoticiaLabel">Create or edit a Noticia</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.noticia.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.noticia.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_tituloNoticia">Titulo Noticia</label>
            <input type="text" class="form-control" name="tituloNoticia" id="field_tituloNoticia"
                    ng-model="vm.noticia.tituloNoticia"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_articuloNoticia">Articulo Noticia</label>
            <input type="text" class="form-control" name="articuloNoticia" id="field_articuloNoticia"
                    ng-model="vm.noticia.articuloNoticia"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_cuerpoNoticia">Cuerpo Noticia</label>
            <input type="text" class="form-control" name="cuerpoNoticia" id="field_cuerpoNoticia"
                    ng-model="vm.noticia.cuerpoNoticia"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
