
<div>
    <h2><span>Noticia</span> {{vm.noticia.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Titulo Noticia</span></dt>
        <dd>
            <span>{{vm.noticia.tituloNoticia}}</span>
        </dd>
        <dt><span>Articulo Noticia</span></dt>
        <dd>
            <span>{{vm.noticia.articuloNoticia}}</span>
        </dd>
        <dt><span>Cuerpo Noticia</span></dt>
        <dd>
            <span>{{vm.noticia.cuerpoNoticia}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="noticia-detail.edit({id:vm.noticia.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
