<div>
    <h2>Noticias</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="noticia.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Noticia
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tituloNoticia"><span>Titulo Noticia</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="articuloNoticia"><span>Articulo Noticia</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cuerpoNoticia"><span>Cuerpo Noticia</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="noticia in vm.noticias track by noticia.id">
                    <td><a ui-sref="noticia-detail({id:noticia.id})">{{noticia.id}}</a></td>
                    <td>{{noticia.tituloNoticia}}</td>
                    <td>{{noticia.articuloNoticia}}</td>
                    <td>{{noticia.cuerpoNoticia}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="noticia-detail({id:noticia.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="noticia.edit({id:noticia.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="noticia.delete({id:noticia.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
