<div class="wrapper wrapper-content">
    <h2>Telefonos <span class="pull-right"><button class="btn btn-primary btn-xs" ui-sref="telefono.new" >
        <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Nuevo Telefono
                    </span>
    </button></span></h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tipoTelefono"><span>Tipo Telefono</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numeroTelefono"><span>Numero Telefono</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="abreviacionTelefono"><span>Abreviacion Telefono</span> <span class="glyphicon glyphicon-sort"></span></th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="telefono in vm.telefonos track by telefono.id">
                    <td><a ui-sref="telefono-detail({id:telefono.id})">{{telefono.id}}</a></td>
                    <td>{{telefono.tipoTelefono}}</td>
                    <td>{{telefono.numeroTelefono}}</td>
                    <td>{{telefono.abreviacionTelefono}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="telefono-detail({id:telefono.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="telefono.edit({id:telefono.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="telefono.delete({id:telefono.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
