
<div>
    <h2><span>Telefono</span> {{vm.telefono.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Tipo Telefono</span></dt>
        <dd>
            <span>{{vm.telefono.tipoTelefono}}</span>
        </dd>
        <dt><span>Numero Telefono</span></dt>
        <dd>
            <span>{{vm.telefono.numeroTelefono}}</span>
        </dd>
        <dt><span>Abreviacion Telefono</span></dt>
        <dd>
            <span>{{vm.telefono.abreviacionTelefono}}</span>
        </dd>
        <dt><span>Jardin</span></dt>
        <dd>
            <a ui-sref="jardin-detail({id:vm.telefono.jardin.id})">{{vm.telefono.jardin.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="telefono-detail.edit({id:vm.telefono.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
