
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTelefonoLabel">Create or edit a Telefono</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.telefono.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.telefono.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_tipoTelefono">Tipo Telefono</label>
            <input type="text" class="form-control" name="tipoTelefono" id="field_tipoTelefono"
                    ng-model="vm.telefono.tipoTelefono"
                    required />
            <div ng-show="editForm.tipoTelefono.$invalid">
                <p class="help-block"
                    ng-show="editForm.tipoTelefono.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_numeroTelefono">Numero Telefono</label>
            <input type="text" class="form-control" name="numeroTelefono" id="field_numeroTelefono"
                    ng-model="vm.telefono.numeroTelefono"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_abreviacionTelefono">Abreviacion Telefono</label>
            <input type="text" class="form-control" name="abreviacionTelefono" id="field_abreviacionTelefono"
                    ng-model="vm.telefono.abreviacionTelefono"
                     />
        </div>

        <div class="form-group">
            <label for="field_jardin">Jardin</label>
            <select class="form-control" id="field_jardin" name="jardin" ng-model="vm.telefono.jardin" ng-options="jardin as jardin.id for jardin in vm.jardins track by jardin.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
