
<div>
    <h2><span>Region</span> {{vm.region.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span>CodigoRegion</dt></dt>
        <dd>
            <span>{{vm.region.codigoRegion}}<span>
        </dd>
        <hr>
        <dt><span>NombreRegion</dt></dt>
        <dd>
            <span>{{vm.region.nombreRegion}}<span>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
