

<div class="wrapper wrapper-content">
    <h2>Regiones <span class="pull-right"><button class="btn btn-primary btn-xs" ui-sref="region.new" >
        <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Crear nueva Region
                    </span>
    </button></span></h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>CodigoRegion</span></th>
                    <th><span>NombreRegion</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="region in vm.regions track by region.id">
                    <td><a ui-sref="region-detail({id:region.id})">{{region.codigoRegion}}</a></td>
                    <td>{{region.nombreRegion}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="region-detail({id:region.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="region.edit({id:region.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="region.delete({id:region.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
