<div>
    <h2>Nivel Jardins</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="nivel-jardin.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Nivel Jardin
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Nombre Nivel</span></th>
                    <th><span>Jardin</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="nivelJardin in vm.nivelJardins track by nivelJardin.id">
                    <td><a ui-sref="nivel-jardin-detail({id:nivelJardin.id})">{{nivelJardin.id}}</a></td>
                    <td>{{nivelJardin.nombreNivel}}</td>
                    <td>
                        <a ui-sref="jardin-detail({id:nivelJardin.jardin.id})">{{nivelJardin.jardin.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="nivel-jardin-detail({id:nivelJardin.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="nivel-jardin.edit({id:nivelJardin.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="nivel-jardin.delete({id:nivelJardin.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
