
<div>
    <h2><span>Nivel Jardin</span> {{vm.nivelJardin.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Nombre Nivel</span></dt>
        <dd>
            <span>{{vm.nivelJardin.nombreNivel}}</span>
        </dd>
        <dt><span>Jardin</span></dt>
        <dd>
            <a ui-sref="jardin-detail({id:vm.nivelJardin.jardin.id})">{{vm.nivelJardin.jardin.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="nivel-jardin-detail.edit({id:vm.nivelJardin.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
