
<div class="wrapper wrapper-content animated fadeInRight">


    <div class="row m-b-lg m-t-lg">
        <div class="col-md-6">

            <div class="profile-image">
                <a ui-sref="jardin">
                    <img src="/content/images/jardin.png" class="img-circle circle-border m-b-md" alt="profile"/>
                </a>
            </div>
            <div class="profile-info">
                <div>
                    <div>
                        <h2 class="no-margins">
                            Jardines Infantiles
                        </h2>
                        <h4>Descripción</h4>
                        <small>
                            En la actualidad, nuestra institucion se encuentra a cargo de diferentes Programas Educativos, entre ellos estan; Jardines Infantiles Clasicos, Alternativo de Atencion del Parvulo, Educativo para la Familia, Transitorio, Convenio alimentacion para apoyo a iniciativas educativas comunitarias <a ui-sref="jardin">Mas aquí</a>.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="col-md-6">

            <div class="profile-image">
                <a ui-sref="funcionario">
                    <img src="/content/images/trabajador.jpg" class="img-circle circle-border m-b-md" alt="profile" />
                </a>
            </div>
            <div class="profile-info">
                <div>
                    <div>
                        <h2 class="no-margins">
                            Funcionarios Oficinas Regionales.
                        </h2>
                        <h4>Descripción</h4>
                        <small>
                            Biobio cuenta con su oficina principal "Direccion Regional" y  Oficinas Provinciales (Arauco, Biobio, Ñuble) en las cuales se desempeña el personal administrativo de la Octava Region, <a ui-sref="funcionario">Mas aquí</a>.
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox">
                <div class="ibox-content">
                    <h2>Nuevos Jardines Infantiles</h2>
                    <p>
                        Jardines que ya se encuentran en funcionamiento durante este año.
                    </p>

                    <div class="clients-list">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <tbody>
                                <tr ng-repeat="jardin in vm.newjardines track by jardin.id">
                                    <td class="client-avatar"><img alt="image" src="/content/images/estudiante.png"> </td>
                                    <td><a ui-sref="jardin-detail({id:jardin.id})" class="client-link">{{jardin.codigoJardin}}</a></td>
                                    <td> {{jardin.nombreJardin}}</td>
                                    <td class="contact-type"><i class="fa fa-check"> </i></td>
                                    <td> {{jardin.programaJardin}}</td>
                                    <td class="client-status"><span class="label label-primary">Active</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox">
                <div class="ibox-content">
                    <h2>Proximos Jardines Infantiles a Inaugurar</h2>
                    <p>

                    </p>

                    <div class="clients-list">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <tbody>
                                <tr ng-repeat="jardin in vm.prejardines track by jardin.id">
                                    <td class="client-avatar"><img alt="image" src="/content/images/build.png"> </td>
                                    <td><a ui-sref="jardin-detail({id:jardin.id})" class="client-link">{{jardin.codigoJardin}}</a></td>
                                    <td> {{jardin.nombreJardin}}</td>
                                    <td class="contact-type"><i class="fa fa-check"> </i></td>
                                    <td> {{jardin.programaJardin}}</td>
                                    <td class="client-status"><span class="label label-primary">{{jardin.estadoJardin}}</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

