<div class="wrapper wrapper-content">
    <h2>Unidades<span class="pull-right"><button class="btn btn-primary btn-xs" ui-sref="unidad.new" >
        <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Nueva Unidad
                    </span>
    </button></span></h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>Unidad</span></th>
                    <th><span>Subdireccion</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="unidad in vm.unidads track by unidad.id">
                    <td><a ui-sref="unidad-detail({id:unidad.id})">{{unidad.nombreUnidad}}</a></td>

                    <td>
                        <a ui-sref="subdireccion-detail({id:unidad.subdireccion.id})">{{unidad.subdireccion.nombreSubdireccion}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="unidad-detail({id:unidad.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="unidad.edit({id:unidad.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="unidad.delete({id:unidad.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
