
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUnidadLabel">Crear o editar una Unidad</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.unidad.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nombreUnidad">Nombre</label>
            <input type="text" class="form-control" name="nombreUnidad" id="field_nombreUnidad"
                    ng-model="vm.unidad.nombreUnidad"
                    required />
            <div ng-show="editForm.nombreUnidad.$invalid">
                <p class="help-block"
                    ng-show="editForm.nombreUnidad.$error.required">
                    El nombre de la unidad es necesario.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_direccionUnidad">Direccion</label>
            <input type="text" class="form-control" name="direccionUnidad" id="field_direccionUnidad"
                    ng-model="vm.unidad.direccionUnidad"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_latitudUnidad">Latitud</label>
            <input type="number" class="form-control" name="latitudUnidad" id="field_latitudUnidad"
                    ng-model="vm.unidad.latitudUnidad"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_longitudUnidad">Longitud</label>
            <input type="number" class="form-control" name="longitudUnidad" id="field_longitudUnidad"
                    ng-model="vm.unidad.longitudUnidad"
                     />
        </div>

        <div class="form-group">
            <label for="field_subdireccion">Subdireccion</label>
            <select class="form-control" id="field_subdireccion" name="subdireccion" ng-model="vm.unidad.subdireccion" ng-options="subdireccion as subdireccion.nombreSubdireccion for subdireccion in vm.subdireccions track by subdireccion.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancelar</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Guardar</span>
        </button>
    </div>
</form>
