
<div>
    <h2><span>Unidad</span> {{vm.unidad.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span>NombreUnidad</dt></dt>
        <dd>
            <span>{{vm.unidad.nombreUnidad}}<span>
        </dd>
        <hr>
        <dt><span>DireccionUnidad</dt></dt>
        <dd>
            <span>{{vm.unidad.direccionUnidad}}<span>
        </dd>
        <hr>
        <dt><span>LatitudUnidad</dt></dt>
        <dd>
            <span>{{vm.unidad.latitudUnidad}}<span>
        </dd>
        <hr>
        <dt><span>LongitudUnidad</dt></dt>
        <dd>
            <span>{{vm.unidad.longitudUnidad}}<span>
        </dd>
        <hr>
        <dt><span>subdireccion</span></dt>
        <dd>
            <a ui-sref="subdireccion-detail({id:vm.unidad.subdireccion.id})">{{vm.unidad.subdireccion.nombreSubdireccion}}</a>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
