
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySubdireccionLabel">Crear o editar una Subdireccion</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.subdireccion.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nombreSubdireccion">Nombre Subdireccion</label>
            <input type="text" class="form-control" name="nombreSubdireccion" id="field_nombreSubdireccion"
                    ng-model="vm.subdireccion.nombreSubdireccion"
                    required />
            <div ng-show="editForm.nombreSubdireccion.$invalid">
                <p class="help-block"
                    ng-show="editForm.nombreSubdireccion.$error.required">
                    El nombre de la subdireccion es requerido.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_direccionRegional">Direccion Regional</label>
            <select class="form-control" id="field_direccionRegional" name="direccionRegional" ng-model="vm.subdireccion.direccionRegional" ng-options="direccionRegional as direccionRegional.nombreDR for direccionRegional in vm.direccionregionals track by direccionRegional.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancelar</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Guardar</span>
        </button>
    </div>
</form>
