<div class="wrapper wrapper-content">
    <h2>Subdirecciones <span class="pull-right"><button class="btn btn-primary btn-xs" ui-sref="subdireccion.new" >
        <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Crear Nueva Subdireccion
                    </span>
    </button></span></h2>
    <jhi-alert></jhi-alert>

    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>Nombre Subdireccion</span></th>
                    <th ><span>Direccion Regional</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="subdireccion in vm.subdireccions track by subdireccion.id">
                    <td><a ui-sref="subdireccion-detail({id:subdireccion.id})">{{subdireccion.nombreSubdireccion}}</a></td>
                    <td>
                        <a ui-sref="direccion-regional-detail({id:subdireccion.direccionRegional.id})">{{subdireccion.direccionRegional.nombreDR}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="subdireccion-detail({id:subdireccion.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="subdireccion.edit({id:subdireccion.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="subdireccion.delete({id:subdireccion.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
