
<div>
    <h2><span>Subdireccion</span> {{vm.subdireccion.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span>NombreSubdireccion</dt></dt>
        <dd>
            <span>{{vm.subdireccion.nombreSubdireccion}}<span>
        </dd>
        <hr>
        <dt><span>direccionRegional</span></dt>
        <dd>
            <a ui-sref="direccion-regional-detail({id:vm.subdireccion.direccionRegional.id})">{{vm.subdireccion.direccionRegional.id}}</a>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
